html { 
    background: url(../img/black-linen.png); 
    color: #F6F3E8; 
    
}

section {
    font-family: DejaWeb, Calibri, sans-serif;
    font-size: 40px;
}

h1, 
h2,
h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #F3F6EE;
}
h3 { font-size: 50px; font-weight: normal; }

p { margin: 80px 0 50px 100px; }
ol, ul { margin: 50px 100px; }

/* code */
.code h3 { margin-top: 20px; }
.prettyprint { text-align: left; font-family: Consolas; font-size: 35px; }
.code.overrun-r .prettyprint { padding-right: 0; }
.code.overrun-l .prettyprint { padding-left: 0; }
.code.tiny .prettyprint { font-size: 20px; }

/* general ludicrousness */
.happycat { background: url(../img/happycat.gif) no-repeat; }

a,
a:visited,
a:active { color: #8AC6F2; }

/* full screen images */
img {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    background-color: #000;
    z-index: -1;
}

aside,
footer {
    font-size: 35px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

aside { color: #A0A8B0; }
footer { color: #99968B; }


/* Transition effect */
section {
  -moz-transition: left 400ms linear 0s;
  -webkit-transition: left 400ms linear 0s;
  -ms-transition: left 400ms linear 0s;
  transition: left 400ms linear 0s;
}

/* Before */
section { 
    left: -150%; 
}
/* Now */
section[aria-selected] { 
    left: 0; 
}
/* After */
section[aria-selected] ~ section { 
    left: +150%; 
}

/* Incremental elements */

/* By default, visible */
.incremental > * { opacity: 1; }

/* The current item */
.incremental > *[aria-selected] { color: red; opacity: 1; }

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * { opacity: 0.2; }
