html { background: url(../img/black-linen.png); color: #F6F3E8; }

/* Slides */
section {
  font-family: DejaWeb, Calibri, sans-serif; font-size: 40px;
  -webkit-transition: left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 0s;
     -moz-transition: left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 0s;
      -ms-transition: left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 0s;
       -o-transition: left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 0s;
          transition: left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) 0s;
}
section { left: -150%; } /* Previous */
section[aria-selected] { left: 0; } /* Current */
section[aria-selected] ~ section { left: +150%; } /* Next */

/* general text stuff */
h1,
h2,
h3,
p { text-align: center; }

/* headings */
h1, 
h2,
h3 { margin-top: 100px; font-size: 80px; font-weight: bold; color: #F3F6EE; }
h3 { font-size: 50px; font-weight: normal; }

/* General text-y things */
p { margin: 80px 0 50px; }
ol, ul { margin: 50px 100px; }
a,
a:visited,
a:active { color: #8AC6F2; }

/* full screen images */
img { width: 800px; height: 600px; position: absolute; top: 0; z-index: -1; background-color: #000; }

aside,
footer { font-size: 35px; position: absolute; bottom: 10px; right: 20px; }
aside { color: #A0A8B0; }
footer { color: #99968B; }

/* Incremental elements */
.incremental > * { opacity: 1; }
.incremental > *[aria-selected] { color: #E5786D; opacity: 1; }
.incremental > *[aria-selected] ~ * { opacity: 0.2; }

/* code */
.code h2,
.code h3 { margin-top: 20px; }
pre { text-align: left; font-family: Consolas, Monaco, monospace; font-size: 35px; }
.code.overrun-r .prettyprint { padding-right: 0; }
.code.overrun-l .prettyprint { padding-left: 0; }
.code.tiny .prettyprint { font-size: 18px; }
.code.nowrap .prettyprint { white-space: pre; }
.code.codewall .prettyprint { padding: 0; width: 800px; height: 600px; margin: 0; }
.code.codewall aside { text-shadow: #8AC6F2 0 0 20px; color: #FFF; font-weight: bold; }
.hide { display: none; }

/* general ludicrousness */
.happycat { 
    background: url(../img/happycat.gif) no-repeat 50% 635%; 
    
    /* animate happy cat but also have to duplicate the transition for section changes */
    -webkit-transition: background-position 6000ms cubic-bezier(0.950, 0.050, 0.795, 0.035),
                        left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
       -moz-transition: background-position 6000ms cubic-bezier(0.950, 0.050, 0.795, 0.035),
                        left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
        -ms-transition: background-position 6000ms cubic-bezier(0.950, 0.050, 0.795, 0.035),
                        left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
         -o-transition: background-position 6000ms cubic-bezier(0.950, 0.050, 0.795, 0.035),
                        left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
            transition: background-position 6000ms cubic-bezier(0.950, 0.050, 0.795, 0.035),
                        left 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
.happycat[aria-selected] { background-position: 50% 250%; }
.happycat .prettyprint { background: rgba(36, 36, 36, 0.5); }

.warning { color: #E5786D; }
.center { text-align: center; }
